<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-green-500">Phibus</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-3 focus:ring-9 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false">
                <img class="w-8 h-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUgws97qf2dJvC-ERQ7jubwoP7v_t02968DQ&s" alt="user photo">
            </button>

            <!-- Lista de Perfis -->
            <ul role="list" class="max-w-sm divide-y divide-gray-200 dark:divide-gray-700">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-semibold text-gray-900 truncate dark:text-white">
                                Tavin
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                emailblabla.com
                            </p>
                        </div>
                        <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                            <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
                            Available
                        </span>
                    </div>
                </li>
            </ul>

            <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#" class="block py-2 px-3 text-white bg-green-700 rounded md:bg-transparent md:text-green-700 md:p-0 md:dark:text-green-500" aria-current="page">Inicio</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Filmes</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Séries</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Novidades</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="relative h-[500px] bg-black text-white">
    <!-- Background Image -->
    <div *ngIf="filmeDiverti" class="absolute inset-0">
      <img
        src="https://s2-techtudo.glbimg.com/BZAsu9yLJHp2RX2Wkd0ZJtnCF18=/0x0:1332x883/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/A/a/c0ONndQtaQXV8vcGe1Cg/nope-1.jpg"
        alt="Background"
        class="w-full h-full object-cover opacity-50"
      />
    </div>
  

    <!-- Content Overlay -->
    <div class="relative h-full flex flex-col justify-center items-center text-center px-6 z-10 ">
      <!-- Play Button -->
      <button
        class="flex items-center space-x-2 bg-gray-800 hover:bg-green-700 px-4 py-2 rounded-full text-lg font-semibold transition-colors duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
          />
        </svg>
        <a [href]="'https://www.themoviedb.org/movie/' + filmeNao.id" target="_blank">
        <span>Assista</span>
        </a>
      </button>
  
      <!-- Title -->
      <h1 class="mt-6 text-4xl font-bold uppercase">Não! Não Olhe!</h1>
  
      <!-- Metadata -->
      <div class="mt-4 text-sm flex items-center justify-center space-x-4 text-gray-400">
        <span>(2022)</span>
        <span class="text-green-500">• Animation •</span>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 9V5.25a3.75 3.75 0 00-7.5 0V9m-4.5 0h16.5M12 15.75v6.75M9 18l3 3 3-3"
            />
          </svg>
          <span>14300 Views</span>
        </div>
      </div>
  
      <!-- Description -->
      <p class="mt-4 text-gray-300 max-w-2xl">
        Depois da trágica morte de seu pai, o treinador de animais para produções de Hollywood, OJ, e sua irmã, Emerald, começam a ver fenômenos inexplicáveis em seu vasto rancho no sul da Califórnia, que leva eles por um caminho obsessivo enquanto tentam captar o mistério em filme.
      </p>
    </div>
  
    <!-- Navigation Arrows -->
    <button class="absolute left-6 top-1/2 transform -translate-y-1/2 bg-gray-800 hover:bg-gray-700 w-10 h-10 flex items-center justify-center rounded-full z-20">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
    </button>
  
    <button class="absolute right-6 top-1/2 transform -translate-y-1/2 bg-gray-800 hover:bg-gray-700 w-10 h-10 flex items-center justify-center rounded-full z-20">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5L15.75 12l-7.5 7.5"
        />
      </svg>
    </button>
  </section>

  <section class="dark:bg-gray-900 py-12">
    <!-- Título -->
    <div class="text-center mb-10">
      <p class="text-green-500 uppercase tracking-wide">Para voçê</p>
    </div>
  
    <!-- Grid de Cartões -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-6 lg:px-12">
      <!-- Cartão 1 -->
      <div *ngIf="filmeVenom"  class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeVenom.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeVenom.poster_path)" 
          alt="{{ filmeVenom.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        
        <!-- Sobreposição e Informações -->
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <!-- Botão de Play -->
          <button 
            class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md"
          >
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke-width="2" 
              stroke="currentColor" 
              class="w-5 h-5"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
      
          <!-- Título e Data -->
          <h3 class="text-lg font-bold">{{ filmeVenom.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeVenom.release_date | date }}</p>
        </div>
        </a>
      </div>
      
  
      <!-- Cartão 2 -->
      <div *ngIf="filmeJohn4" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeJohn4.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeJohn4.poster_path)" 
          alt="{{ filmeJohn4.title }}" 
          class="w-80 object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeJohn4.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeJohn4.release_date | date }}</p>
        </div>
      </a>
      </div>
  
      <!-- Cartão 3 -->
      <div *ngIf="filmeWicked" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeWicked.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeWicked.poster_path)" 
          alt="{{ filmeWicked.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeWicked.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeWicked.release_date | date }}</p>
        </div>
        </a>
      </div>
  
      <!-- Cartão 4 -->
      <div *ngIf="filmeSorria2" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeSorria2.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeSorria2.poster_path)" 
          alt="{{ filmeSorria2.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeSorria2.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeSorria2.release_date | date }}</p>
        </div>
        </a>
      </div>
    </div>
  </section>
  

  
  <section class="dark:bg-gray-900 py-12">
    <!-- Título -->
    <div class="text-center mb-10">
      <p class="text-green-500 uppercase tracking-wide">Infantil</p>
    </div>
  
    <!-- Grid de Cartões -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-6 lg:px-12">
      <!-- Cartão 1 -->
      <div *ngIf="filmeMeuMal" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeMeuMal.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeMeuMal.poster_path)" 
          alt="{{ filmeMeuMal.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        
        <!-- Sobreposição e Informações -->
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <!-- Botão de Play -->
          <button 
            class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md"
          >
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke-width="2" 
              stroke="currentColor" 
              class="w-5 h-5"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
      
          <!-- Título e Data -->
          <h3 class="text-lg font-bold">{{ filmeMeuMal.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeMeuMal.release_date | date }}</p>
        </div>
        </a>
      </div>
      
  
      <!-- Cartão 2 -->
      <div *ngIf="filmeGarfild" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeGarfild.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeGarfild.poster_path)" 
          alt="{{ filmeGarfild.title }}" 
          class="w-80 object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeGarfild.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeGarfild.release_date | date }}</p>
        </div>
        </a>
      </div>
  
      <!-- Cartão 3 -->
      <div *ngIf="filmeMoana2" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeMoana2.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeMoana2.poster_path)" 
          alt="{{ filmeMoana2.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeMoana2.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeMoana2.release_date | date }}</p>
        </div>
        </a>
      </div>
  
      <!-- Cartão 4 -->
      <div *ngIf="filmeDiverti" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeDiverti.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeDiverti.poster_path)" 
          alt="{{ filmeDiverti.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeDiverti.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeDiverti.release_date | date }}</p>
        </div>
        </a>
      </div>
    </div>
  </section>
 

<!-- Seção de Streaming -->
<section class="dark:bg-gray-900 py-12">
    <!-- Título -->
    <div class="text-center mb-10">
      <p class="text-green-500 uppercase tracking-wide">Outros</p>
    </div>
  
    <!-- Grid de Cartões -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-6 lg:px-12">
      <!-- Cartão 1 -->
      <div *ngIf="filmeGLadiadorII" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeGLadiadorII.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeGLadiadorII.poster_path)" 
          alt="{{ filmeGLadiadorII.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        
        <!-- Sobreposição e Informações -->
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <!-- Botão de Play -->
          <button 
            class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md"
          >
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke-width="2" 
              stroke="currentColor" 
              class="w-5 h-5"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
      
          <!-- Título e Data -->
          <h3 class="text-lg font-bold">{{ filmeGLadiadorII.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeGLadiadorII.release_date | date }}</p>
        </div>
        </a>
      </div>
      
  
      <!-- Cartão 2 -->
      <div *ngIf="filmePantera" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmePantera.id" target="_blank">
        <img 
          [src]="getImageUrl(filmePantera.poster_path)" 
          alt="{{ filmePantera.title }}" 
          class="w-80 object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmePantera.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmePantera.release_date | date }}</p>
        </div>
        </a>
      </div>
  
      <!-- Cartão 3 -->
      <div *ngIf="filmeAlien" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeAlien.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeAlien.poster_path)" 
          alt="{{ filmeAlien.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeAlien.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeAlien.release_date | date }}</p>
        </div>
        </a>
      </div>
  
      <!-- Cartão 4 -->
      <div *ngIf="filmeSubst" class="relative group bg-black text-white rounded-lg overflow-hidden shadow-md">
        <!-- Imagem de Fundo -->
        <a [href]="'https://www.themoviedb.org/movie/' + filmeSubst.id" target="_blank">
        <img 
          [src]="getImageUrl(filmeSubst.poster_path)" 
          alt="{{ filmeSubst.title }}" 
          class="w-80  object-cover group-hover:scale-110 transition-transform duration-300"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:bg-opacity-70 transition-opacity duration-300 flex flex-col justify-end p-4">
          <button class="bg-white text-black rounded-full w-10 h-10 mb-2 flex items-center justify-center shadow-md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z"
              />
            </svg>
          </button>
          <h3 class="text-lg font-bold">{{ filmeSubst.title }}</h3>
          <p class="text-sm text-gray-300">{{ filmeSubst.release_date | date }}</p>
        </div>
        </a>
      </div>
    </div>
  </section>

